*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body, #root, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: #333;
}

.loader:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
  }
  
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .gh_icon{
    position: absolute;
    top: 5%;
    right: 2%;
  }

  .Avatar_container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  .main_container{
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-50%,-50%);
    
  }

  .title{
    color: #ffffff;
    letter-spacing: 10px;
    text-shadow: 2px 5px 9px rgba(66, 68, 90, 1);
    font-size: 5em;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
  }

  .title span{
    color: rgb(0, 203, 253);
  }

  .main_container .title::before{
    content: '';
    position: absolute;
    top: 10%;
    left: -5%;
    width: 5px;
    height: 80%;
    background: rgb(0, 203, 253);
    border-radius: 10px;
  }

  .main_container .profile_icon{
    box-shadow: 2px 5px 9px rgba(66, 68, 90, 1);
  }

  .business_section{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .socials{
    cursor: pointer;
    color: #ffffff;
  }
  